#container {
    display: grid;
    grid-template-columns: 30fr 15fr;
    grid-template-areas: 
    "cardCont formCont";
}
#cardContainer {
    height: 800px;
    width: 800px;
    background-color: rgba(37, 37, 231, 0.671);
    grid-area: cardCont;
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: 200px;
    grid-template-areas: 
    "cardHead cardHead"
    "cardArea cardArea";
    grid-auto-rows: 200px;
}

#cardHeader {
    grid-area: cardHead;
    background-color: blanchedalmond;
}
#cardArea {
    grid-area: cardArea;
}

.card {
    background-color: aliceblue;
}

#cardFormContainer {
    grid-area: formCont;
   
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "title author"
    "pages read";


}

#titleDiv {
    grid-area: title;
}

#authorDiv {
    grid-area: author;
}

#pagesDiv {
    grid-area: pages;
}

#readDiv {
    grid-area: read;
}